<html xmlns:th="http://www.thymeleaf.org">

<html>
    <head>
        <title>Login form</title>
    </head>
    <body>
        
        <h2>Login form</h2>
        <form action = "http://localhost:8081/login" method="post">
            <table>
        <tr>
            <th>Enter name :</th>
        <td><input type = "text" id = "name" name = "name"><br></td>
        </tr>
        <tr>
        <th>Enter password :</th>
        <td><input type = "text" id = "password" name="password"><br></td>
        </tr>
        </table>
        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a th:href=@{/registercheck}>click here to register</a>
        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
           <button type="submit">login</button>
           <br>
           
          
       <!-- <a href="registrationform.html">Click here to register</a>-->
       

        </form>
        
    </body>
</html>