<html>
    <head>

    </head>
    <body>
    <form action = "http://localhost:8081/signup" method="post">
    <h2>Registration Form</h2>
    <table>
    <tr>
    <th>Enter email : </th>
    <td><input type = "email" id = "email" name="email"></td>
    <tr><th>Enter name :</th>
        <td><input type = "text" id = "Name" name = "name"></td>
    </tr>
    <tr> <th>Enter password:</th>
        <td> <input type = "text" id = "password" name = "password"></td></tr>
        <tr>
    <th>cnfmpassword:</th> 
   <td> <input type = "text" id = "cnfmpassword" name = "cnfmpassword"></td>
   </tr>
</table>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    <button type = "submit">submit</button>
   
   
    </form>
    </body>
</html>