<html>
    <head>
        <title>Updation</title>
    </head>
    <body>
        <form action="/updateUser" method="post">
           <h2>Updation form</h2>
            <table>
                <tr>
                <th>Enter the registered email : </th>
                <td><input type = "email" id = "email" name="email"></td>
                <tr><th>Enter new name :</th>
                    <td><input type = "text" id = "Name" name = "name"></td>
                </tr>
                <tr> <th>Enter new password:</th>
                    <td> <input type = "text" id = "password" name = "password"></td></tr>
                    <tr>
                <th>Enter cnfmpassword:</th> 
               <td> <input type = "text" id = "cnfmpassword" name = "cnfmpassword"></td>
               </tr>
            </table>
            &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
            
                <button style="margin-left:200px;" type= "submit">submit</button>
        </form>
    </body>
</html>